html, body {
    height: 100%;
}
#accordionExample {
    max-width: 75%;
}

body {
    /*background-color: #D9B08C;*/
    /*background-image: url("lamp.jpeg");*/
    /*background-image: url("night_car.jpeg");*/
    background-image: url("desert.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
}


#navBar {
    width: 50%;
    background-color: #f2cc99;
    z-index: 1000;
}

#collapse {
    width: 75%;
}

.card cardbody {
    width: 30%;
}

.convert {
    background-color: #FFDB58;
    border-radius: 12px;
}

.accordionAll {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    align-content: center;
    position: relative;
    top: 10vh;
    left: 3vw;
    min-height: 5vh;
    width: 77vw;
    transition: all 200ms ease-in-out 50ms;
    opacity: 1;
}


.accordion {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
    background-color: #D1E8E2;
    color: #116466;
    transition: all 200ms ease-in-out 50ms;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
    cursor: pointer;
    font-size: 16pt;
}

.unitType {
    font-size: 1.5em;
    text-align: center;
}

.default {
    height: 30vh;
    width: 20vw;
    background-color: #D1E8E2;
    color: #116466;
    font-size: 12pt;
    overflow: hidden;
}

.expand {
    height: 30vh;
    width: 80vw;
    background-color: #116466;
    color: ghostwhite;
    padding: 20px;
}


#timeDate {
    font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.5em;
    float: right;
    text-align: left;
    width: 20%;
    /*margin: 0px auto;*/
    color: #fff;
    border-left: 3px solid #ed1f24;
    padding: 10px;
}

#localTime {
    color: black;
}
