html, body {
    height: 100%;
}

#accordionExample {
    max-width: 75%;
}

body {
    /*background-color: #D9B08C;*/
    /*background-image: url("lamp.jpeg");*/
    background-image: url("desert3.jpg");
    background-color:#120c01;
    /*background-image: url("spark.jpeg");*/
    /*background-image: url("zvezda.jpeg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.toggle {
    position: relative;
    cursor: pointer;
    font-size: 1.25rem; /* 20px */
    user-select: none;
    overflow:hidden;
}

.toggle-track {
    width: 70px;
    height: 35px;
    box-sizing: border-box;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 4px;
    background-color: darkblue;
    transition: all 0.5s cubic-bezier(.23, 1, .32, 1) 0ms;
}

.toggle.dark .toggle-track {
    background-color: #0f1114;
}


.toggle-button {
    width: 31px;
    height: 31px;
    position: absolute;
    margin-left: 35px;
    top: 2px;
    left: 2px;
    background-color: white;
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(.23, 1, .32, 1) 0ms;
}

.toggle.dark .toggle-button {
    right: 37px;
}

.toggle:hover .toggle-button {
    box-shadow: 0 0 6px #d23669;
}

#instruction {
    margin-top: 100px;
    font-family: 'Comfortaa';
    font-size: 1.5rem;
    color:#f2ce00;
    margin-right: 17vw;
    text-align:center;
    text-decoration: underline;
}


.navbar-nav {
    align-content: end;
}

.navContent {
    font-size: 1.5em;
}

#top {
    color: white;
}

#navBar {
    width: 100%;
    z-index: 1000;
}

.navbar-brand {
    font-family: 'Audiowide';
    font-size: 48px;


}

#collapse {
    width: 75%;
}

.card cardbody {
    width: 30%;
}


.accordionAll {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    align-content: center;
    position: relative;
    top: 1vh;
    left: 3vw;
    min-height: 5vh;
    width: 77vw;
    transition: all 200ms ease-in-out 50ms;
    opacity: 1;
}


.accordion {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
    background-color: #D1E8E2;
    color: #D1E8E2;
    transition: all 200ms ease-in-out 50ms;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
    cursor: pointer;
    font-size: 16pt;
}

.unitType {
    font-size: 1.65em;
    text-align: center;
}

.unitInput {
    padding: 0px 0px 0px 0px;
    font-size: 25px;
}

.equal {
    font-size: 30px;
}

.convert {
    background-color: #FFDB58;
    border-radius: 12px;
    font-size: 20px;
    margin: auto;
    display: block;
}

.select {
    line-height: 1;
    padding: 0.7em 1.4em .5em .8em;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;

}

.default {
    height: 30vh;
    width: 20vw;
    background-color: #116466;
    color: #D1E8E2;
    font-size: 12pt;
    overflow: hidden;
}

.expand {
    height: 30vh;
    width: 80vw;
    background-color: #7ec2b0;
    color: #074142;
    padding: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/*Local Time Clock*/
#timeDate {
    font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.5em;
    /*float: right;*/
    /*display: inline-block;*/
    text-align: left;
    width: 100%;
    margin-top: 120px;
    color: #fff;
    /*border-left: 3px solid #ed1f24;*/
    /*padding: 25px;*/
}

#localTime {
    color: darkorange;
}


.calculator {
    width: 410px;
    margin: 4% auto;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 5px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 20px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
}

.input {
    border: 1px solid #ddd;
    border-radius: 1px;
    height: 60px;
    padding-right: 1px;
    padding-top: 10px;
    text-align: right;
    margin-right: 6px;
    font-size: 2rem;
    overflow-x: auto;
    transition: all .2s ease-in-out;
    color: wheat;
}

.input:hover {
    border: 1px solid #bbb;
    -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.operators div {
    display: inline-block;
    border: 1px solid #bbb;
    border-radius: 1px;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 20px 4px 10px 0;
    cursor: pointer;
    background-color: #ddd;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.operators div:hover {
    background-color: #ddd;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #aaa;
}

.operators div:active {
    font-weight: bold;
}

.leftPanel {
    display: inline-block;
}

.numbers div {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 1px;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 10px 4px 10px 0;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.numbers div:hover {
    background-color: #f1f1f1;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #bbb;
}

.numbers div:active {
    font-weight: bold;
}

div.equal {
    display: inline-block;
    border: 1px solid #3079ED;
    border-radius: 1px;
    width: 80px;
    text-align: center;
    padding: 100px 10px;
    margin: 10px 6px 10px 0;
    vertical-align: top;
    cursor: pointer;
    color: #FFF;
    background-color: #4d90fe;
    transition: all .2s ease-in-out;
}

div.equal:hover {
    background-color: #307CF9;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #1857BB;
}

div.equal:active {
    font-weight: bold;
}}