html, body {
    height: 100%;
}

#accordionExample {
    max-width: 75%;
}

body {
    /*background-color: #D9B08C;*/
    /*background-image: url("lamp.jpeg");*/
    background-image: url("night_car.jpeg");
    /*background-image: url("desert.jpeg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/*darkmode*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/*   // Hide checkbox
 */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/*   // The slider
   */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightblue;
    transition: 0.4s ease-in-out;
}

/*
  // Design of slider for light mode
 */
.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 6px;
    bottom: 6px;
    background-color: yellow;
    box-shadow: 0px 0px 5px 4px rgb(255, 217, 0);

    transition: 0.4s;
}

/*   // When theme is dark, background is dark */

/*.theme-dark .slider {*/
/*    background-color: #3a2864;*/
/*}*/

/*    // If theme is dark, but slider is to the left, move it to the right and turn it into a moon
 */
.theme-dark .slider:before {
    transform: translateX(26px);
    height: 3px;
    width: 3px;
    background-color: lightgrey;
    bottom: 15px;
    left: 10px;
    box-shadow: 10px -7px 0px 1px lightgrey, -4px -8px 0px 0px lightgrey,
    6px 6px 0px 1px lightgrey, 5px -1px 5px 13px white, 5px -1px 0px 12px white;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*.theme-dark {*/

/*body {*/
/*    background-color: black;*/
/*}*/

/*}*/

/*.theme-light {*/

/*body {*/
/*    background-color: aliceblue;*/
/*}*/

/*}*/




.navbar-brand {
    font-family: 'Audiowide';
    font-size: 48px;
}

.navbar-nav {
    align-content: end;
}

.navContent {
    font-size: 1.5em;
}


#navBar {
    width: 100%;
    z-index: 1000;
}

#collapse {
    width: 75%;
}

.card cardbody {
    width: 30%;
}

.convert {
    background-color: #FFDB58;
    border-radius: 12px;
}

.accordionAll {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    align-content: center;
    position: relative;
    top: 10vh;
    left: 3vw;
    min-height: 5vh;
    width: 77vw;
    transition: all 200ms ease-in-out 50ms;
    opacity: 1;
}


.accordion {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
    background-color: #D1E8E2;
    color: #116466;
    transition: all 200ms ease-in-out 50ms;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
    cursor: pointer;
    font-size: 16pt;
}

.unitType {
    font-size: 1.5em;
    text-align: center;
}

.default {
    height: 30vh;
    width: 20vw;
    background-color: #D1E8E2;
    color: #116466;
    font-size: 12pt;
    overflow: hidden;
}

.expand {
    height: 30vh;
    width: 80vw;
    background-color: #116466;
    color: ghostwhite;
    padding: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#wrap {
    display: grid;
    float: right;
    margin-right: 25px;
    grid-template-columns: 200px;
    /*grid-template-columns: 500px 1fr 2fr;*/
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 50px;
}

/*Local Time Clock*/
#timeDate {
    font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.5em;
    /*float: right;*/
    /*display: inline-block;*/
    text-align: left;
    width: 100%;
    margin-top: 120px;
    color: #fff;
    /*border-left: 3px solid #ed1f24;*/
    /*padding: 25px;*/
}

#localTime {
    color: darkorange;
}


/*Calculator*/
/*body {*/
/*  !*width: 500px;*!*/
/*  margin: 4% auto;*/
/*  font-family: 'Source Sans Pro', sans-serif;*/
/*  letter-spacing: 5px;*/
/*  font-size: 1.8rem;*/
/*  -moz-user-select: none;*/
/*  -webkit-user-select: none;*/
/*  -ms-user-select: none;*/
/*}*/

.calculator {
    width: 500px;
    margin: 4% auto;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 5px;
    font-size: 1.8rem;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 20px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
}

.input {
    border: 1px solid #ddd;
    border-radius: 1px;
    height: 60px;
    padding-right: 15px;
    padding-top: 10px;
    text-align: right;
    margin-right: 6px;
    font-size: 2.5rem;
    overflow-x: auto;
    transition: all .2s ease-in-out;
}

.input:hover {
    border: 1px solid #bbb;
    -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.buttons {
}

.operators {
}

.operators div {
    display: inline-block;
    border: 1px solid #bbb;
    border-radius: 1px;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 20px 4px 10px 0;
    cursor: pointer;
    background-color: #ddd;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.operators div:hover {
    background-color: #ddd;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #aaa;
}

.operators div:active {
    font-weight: bold;
}

.leftPanel {
    display: inline-block;
}

.numbers div {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 1px;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 10px 4px 10px 0;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.numbers div:hover {
    background-color: #f1f1f1;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #bbb;
}

.numbers div:active {
    font-weight: bold;
}

div.equal {
    display: inline-block;
    border: 1px solid #3079ED;
    border-radius: 1px;
    width: 17%;
    text-align: center;
    padding: 127px 10px;
    margin: 10px 6px 10px 0;
    vertical-align: top;
    cursor: pointer;
    color: #FFF;
    background-color: #4d90fe;
    transition: all .2s ease-in-out;
}

div.equal:hover {
    background-color: #307CF9;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #1857BB;
}

div.equal:active {
    font-weight: bold;
}