/**
 * Tabs
 */

.img-zoom-container {
    position: absolute;
    display: flex;
    padding: 20px;
}

.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 40px;
    height: 40px;
    opacity: 0%;
}

.img-zoom-result {
    margin-left:50px;
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 20vw;
    height: 432px;
}



#filter_users {
    width: 100%;
    padding: 10px;
}

#users-list {
    margin: 0;
    padding: 0;
}

#users-list li {
    list-style: none;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #e4e4e4;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
/ / make sure it wraps
}

.tabs label {
    order: 1;
/ / Put the labels first display: block;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background: #90CAF9;
    font-weight: bold;
    transition: background ease 0.2s;
}

.tabs .tab {
    order: 99;
/ / Put the tabs last flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background: #fff;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked + label {
    background: #fff;
}

.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}

@media (max-width: 45em) {
    .tabs .tab,
    .tabs label {
        order: initial;
    }

    .tabs label {
        width: 100%;
        margin-right: 0;
        margin-top: 0.2rem;
    }
}

