<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Calculate Loans</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
              integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
              crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../static/style.css">
        <script src="../static/script.js"></script>
        <script src="../static/money.js"></script>
    </head>
    <body onLoad="initClock()">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navBar">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">da Calculate</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" class="navbarDropdownMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Time
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="/timezone">Time Zones</a></li>
                                <li><a class="dropdown-item" href="/time">Calculate Dates / Calendar</a></li>
                                <li><a class="dropdown-item" href="/time">Convert Time Units</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" class="navbarDropdownMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Money
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="/exchange_rates">Exchange Rates</a></li>
                                <li><a class="dropdown-item" href="/loan">Calculate Loans</a></li>
                                <li><a class="dropdown-item" href="/inflation">Calculate Inflation / Deflation</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" class="navbarDropdownMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Random Generator
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="/random_generator">Generate Numbers and Passwords</a>
                                </li>
                                <li><a class="dropdown-item" href="/lotto">Lotto Numbers</a></li>
                            </ul>
                        </li>
                        <li><label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="timeDate">
            <span id="localTime">Current Local Time:</span>
            <a id="mon">January</a>
            <a id="d">1</a>,
            <a id="y">0</a><br/>
            <a id="h">12</a> :
            <a id="m">00</a>:
            <a id="s">00</a>
        </div>
        <div>
            Savings Calculator
            <p>Certificate of Deposit ::: Simple / Compound Interest</p>
            <p>Savings ::: Initial deposit, monthly contribution, over a period of x months/years. monthly compound?
                yearly compound iterest?</p>
        </div>
        <br><br>
        <div>
            <div>
                Simple Savings Calculator
            </div>
            <div>
                Initial Deposit: <input id="savingInitial" type="number">
            </div>
            <div>
                Monthly Contribution: <input id="savingMonthly" type="number">
            </div>
            <div>
                Duration: <input id="savingDuration" type="number"> <select id="savingSelect">
                <option>months</option>
                <option>years</option>
            </select>
            </div>
            <div>
                Interest Rate: <input id="savingApy" type="number">
                <div>
                    Compounding:
                    <select id="compoundSelect">
                        <option>Annually</option>
                        <option>Semi-Annually</option>
                        <option>Quarterly</option>
                        <option>Monthly</option>
                        <option>Simple Interest</option>
                    </select>
                </div>
            </div>
            <button onclick="saving()">Calculate</button>
            <div id="savingFinal">
                Final Amount:
            </div>

            <br><br><br>

            <div>
                Certificate of Deposit Calculator
            </div>
            <div>
                Initial Deposit: <input id="cdInitial" type="number">
            </div>
            <div>
                Duration: <input type="number" id="cdDuration">
                <select id="cdDurationSelect">
                    <option>months</option>
                    <option>years</option>
                </select>
            </div>

            <div>
                Interest Rate: <input type="number" id="cdRate">
            </div>
            <div>
                Compounding:
                <select type="number" id="cdCompound">
                    <option>Annually</option>
                    <option>Semi-Annually</option>
                    <option>Quarterly</option>
                    <option>Monthly</option>
                    <option>Simple Interest</option>
                </select>
            </div>
            <button onclick="cd()">Calculate</button>
            <div id="cdFinal">
                Final Amount:
            </div>
        </div>
        </div>


        <br><br><br><br><br><br>


        <div>
            Loan Calculator
            <p>amortized loan</p>
            <p>deferred payment loan</p>
        </div>
        <div>
            Certificate of Deposit
        </div>

    </body>
</html>