<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Random Number and Password Generator</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
              integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
                crossorigin="anonymous"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://use.fontawesome.com/1afaab5dda.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">

        <link id="pagestyle" type="text/css" rel="stylesheet" href="../static/style.css">


        <script src="../static/randomGenerator.js"></script>
        <link rel="stylesheet" href="../static/randomGenerator.css">
    </head>

    <body onload="generatePassword(); initClock();">
        <nav class="navbar navbar-expand-lg fixed-top navbar-light " style="background-color: #c5d6d9;" id="navBar">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><i class="fa fa-calculator" aria-hidden="true"></i> daCalculate</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="toggle" id="toggleDarkMode">
                    <div class="toggle-track">
                        🌙
                        ☀️
                    </div>
                    <div class="toggle-button"></div>
                </div>


                <div class="collapse navbar-collapse ml-auto" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/"><span class="navContent">Unit Conversion</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" class="navbarDropdownMenuLink"
                               role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="navContent">Time</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="/timezone"><i class="fa fa-globe"
                                                                                 aria-hidden="true"></i> Time Zones</a>
                                </li>
                                <li><a class="dropdown-item" href="/time"><i class="fa fa-calendar"
                                                                             aria-hidden="true"></i> Calculate Dates
                                    /
                                    Calendar</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" class="navbarDropdownMenuLink"
                               role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="navContent">Money</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="/exchange_rates"><i class="fa fa-usd"
                                                                                       aria-hidden="true"></i>
                                    Exchange
                                    Rates</a></li>
                                <li><a class="dropdown-item" href="/inflation"><i class="fa fa-line-chart"
                                                                                  aria-hidden="true"></i> Calculate
                                    Inflation /
                                    Deflation</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" class="navbarDropdownMenuLink"
                               role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="navContent">Random Generator</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="/random_generator"><i class="fa fa-key"
                                                                                         aria-hidden="true"></i>
                                    Numbers
                                    and
                                    Passwords</a></li>
                                <li><a class="dropdown-item" href="/lotto"><i class="fa fa-money"
                                                                              aria-hidden="true"></i> Lotto Numbers</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="randomDiv">
            <div id="timeDate">
                <span id="localTime">Current Local Time:</span>
                <a id="mon">January</a>
                <a id="d">1</a>,
                <a id="y">0</a><br/>
                <a id="h">12</a> :
                <a id="m">00</a>:
                <a id="s">00</a>
            </div>


            <div class="timeTitle">
                <span id="randomNumber">Get a random number between two values</span>
            </div>
            <div class="randomDiv">
                Minimum:<input type="number" id="valueMin">
            </div>
            <div class="randomDiv">
                Maximum: <input type="number" id="valueMax">
            </div>
            <button onclick="randomNumber()" class="convert">Generate</button>
            <div id="randomNum" class="result" class="randomDiv">

            </div>

            <div class="timeTitle">
                Generate random password string
            </div>
            <div class="randomDiv">
                Length: <input type="Number" id="length">
                <div><input type="checkbox" id="number" checked> Include numbers</div>
                <div><input type="checkbox" id="upper" checked> Include uppercase</div>
                <div><input type="checkbox" id="special" checked> Include special characters</div>
            </div>


            <div>
                <button onclick="generatePassword()" class="convert">Generate</button>
            </div>

            <p id="password" class="result"></p>


        </div>

        <script src="../static/script.js"></script>
    </body>
</html>